*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #BFBFBF;
    font-family: Roboto, sans-serif;
    color: white;
}

.navbar-brand{
    --bs-navbar-brand-hover-color: #F5F5F5;
    color: #F5F5F5;
    font-family: Anton, sans-serif;
    font-size: 30px;
}

.navbar{
    --bs-navbar-hover-color: #F5F5F5;
}

.nav-link {
    color: #F5F5F5;
}

.dropdown-menu {
    --bs-dropdown-color: #F5F5F5;
    --bs-dropdown-bg: #C0150F;
    --bs-dropdown-link-color: #F5F5F5;
}

.logo {
    width: 50px;
    height: 50px;
}

.bg-header{
    background-color: #C0150F;
}

.container1{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 5fr 0.2fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    align-items: center;
    justify-items: center;
    align-content: space-around;
}

/* .header{
    grid-area: header;
    display: flex;
    height: 80px;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    justify-items: center;  
    background-color: rgb(148, 30, 30);
    position: sticky;
    top: 0;
} */

.animate {
    transition: all 0.2 ease-in-out;
}

.animate:hover {
    transform: scale(0.8);
}


.parallax1{
    background-image: url("../multimedia/parallax.jpg");
    height: 600px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainIndex{
    font-family: Anton, sans-serif;
    background-color: #c0150fb7;
    color: #F5F5F5;

    text-align: center;

}

.footer {
    background-color: #C0150F;
    color: #F5F5F5;
}

.footer a {
    text-decoration: none;
    color: #F5F5F5;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.mainNosotros{
    grid-area: main;
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #c0150fb7;
}

.articulo1{
    display: flex;
    height: 300px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.articulo1 p {
    width: 500px;
}

.articulo1__titulo_texto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
}

.articulo1__img{
    width: 500px;
}

.articulo1 img{
    width: 500px;
}

.articulo2{
    display: flex;
    height: 300px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
}

.articulo2__titulo_texto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
}

.articulo2__img{
    width: 500px;
}

.articulo2 p {
    width: 500px;
}

.articulo2 img{
    width: 500px;
}

.mainContacto{
    background-color: #c0150fb7;
}

@media screen and (max-width: 768px){
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
    
    
    /*.container{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 5fr 0.2fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        align-items: center;
        justify-items: center;
        align-content: space-around;
    }
    
    .header{
        grid-area: header;
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-items: center;  
        background-color: rgb(148, 30, 30);
        position: sticky;
        top: 0;
    }

    .footer {
        grid-area: footer;
        width: 100%;
        background-color: rgb(148, 30, 30);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .mainContacto{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background-color: rgba(136, 0, 0, 0.752);
    }

} */

/* PHONE */
/* @media screen and (max-width: 500px){
    .container{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 5fr 0.2fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        align-items: center;
        justify-items: center;
        align-content: space-around;
    }
    
    .header{
        grid-area: header;
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-items: center;  
        background-color: rgb(148, 30, 30);
        position: sticky;
        top: 0;
    }

    .logoTitulo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

} */