*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    text-decoration: black;
}

.header{
    background-color: #ff9f1c;
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    
}

.header__titulo{
    display: flex;
    flex-wrap: nowrap;

    justify-items: flex-start;
    
}

.header__nav{    
    display: inline;
}

/* .header__ul{
    text-decoration: none;
} */

li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
}

.header__img{
    width: 80px;
}

.parallax1{
    background-image: url("../multimedia/parallax.jpg");
    height: 600px;
 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        
    /*margin-bottom:50px;*/

}

.main{
    display: flex;
    background-color: rgba(0, 0, 0, 0.684);
    padding: 50px 10px;
    margin: 0px 350px;
}

.main__titulo{
    text-align: center;
    font-size: 100px;
    color: #FFBF69;
    
}

.main__mensaje{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #FFBF69;
    padding: 0px 100px 0px 100px;
}

.beneficios__imagen{
    width: 400px;
}

.beneficios__div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* margin: 400px 400px; */
}

.beneficios__p{
    display: inline-block;
    
}

.dojos__img{
    width: 600px;
    
}

.footer{
    background-color: #2EC4B6;
}

.footer__img{
    width: 50px;
    display: inline-block;
}

.footer__text{
    text-align: center;
}