/* MIXIN */
@mixin imgSize($width, $height) {
    height: $height;
    width: $width;
}

.tamanioImg {
    @include imgSize(100%, 100%);
}

.btn-secondary {
    --bs-btn-color: #F5F5F5;
    --bs-btn-bg: #C0150F;
    --bs-btn-border-color: #C0150F;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c0150fb7;
    --bs-btn-hover-border-color: #c0150fb7;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #F5F5F5;
    --bs-btn-active-bg: #C0150F;
    --bs-btn-active-border-color: #C0150F;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F5F5F5;
}

.form-select {
    font-family: Roboto, sans-serif;
    color: #F5F5F5;
    background-color: #C0150F;
    border: 1px solid #C0150F;
    &:focus {
        border-color: rgba(192, 21, 15, 0.718);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(192, 21, 15, 0.718);
    }
}