.parallaxIndex{
    background-image: url("../multimedia/parallax.jpg");
    height: 932px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainIndex{
    font-family: Anton, sans-serif;
    background-color: #1c1c1c85;
    color: #F5F5F5;
}