.bg-nosotros{
    background-color: #1c1c1c5c;
}

/* EXTEND */
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxNosotros1{
    @extend .parallax;

    background-image: url("../multimedia/fondoNosotros1.jpg");
    height: 866px;
}

.parallaxNosotros2{
    @extend .parallax;

    background-image: url("../multimedia/fondoNosotros2.jpg");
    height: 792px;
}

.imagen-kdm{
    height: 200px;
}

.fancy-undeline {
    background-image: linear-gradient(120deg, #D31027,#EA384D 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 80%;
    transition: background-size 0.25s ease-in;
}

.fancy-undeline:hover {
    background-size: 100% 88% !important;
}

h2{
    font-family: Anton, sans-serif;
}
p{  
    font-family: Roboto, sans-serif;
    font-style: italic;
    
}